<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>-->
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/base.jpg" height="400" alt="Image of first carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Akma</h3>
                                <p class="carousel-body"></p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->
                    </div>
        
                    <!-- Controls 
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    -->
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Nossa Missão</h3>
                    <p class="services-header-body"><em> Vencer qualquer desafio para cuidar da saúde das pessoas.</em>  </p><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><img src="../assets/img/ar-comprimido.jpeg" height="200" width="200"></p>
                        <h4 class="services-title">Ar comprimido</h4>
                        <p class="services-body">Ar comprimido</p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><img src="../assets/img/oxigenio.jpeg" height="200" width="200"></i></p>
                        <h4 class="services-title">O2</h4>
                        <p class="services-body">Cilindros de O2</p>
</div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><img src="../assets/img/24-Carrinho-para-Cilindros-de-20-30-e-50-Litros.jpeg" height="200" width="200"></i></p>
                        <h4 class="services-title">Carinho para cilindos</h4>
                        <p class="services-body">Capacidade de 20/30/50 litros.</p>
</div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
      
            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"> <p class="services-icon"><img src="../assets/img/concentrador-oxigenio.jpeg" height="200" width="200"></i></p></p>
                        <h4 class="services-title">Concentrador de oxigênio</h4>
                        <p class="services-body"></p>
</div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"> <p class="services-icon"><img src="../assets/img/Fluxometro-para-Gases-Medicinais.jpeg" height="200" width="200"></i></p></i></p>
                        <h4 class="services-title">Fluxometro para Gases Medicinais</h4>
                        <p class="services-body"></p>
</div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"> <p class="services-icon"><img src="../assets/img/Reguladores-de-Pressao-Ajustaveis-para-Cilindros.jpeg" height="200" width="200"></i></p></i></p>
                        <h4 class="services-title">Reguladores</h4>
                        <p class="services-body">Reguladores de pressão ajustaveis para cilindros</p>
</div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->
    
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
